@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+HK:wght@300;400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  text-align: center;
  width: 100%;
  margin: auto;
  background: #e4e7f5;
  color: rgb(59, 55, 55);
  font-family: "Noto Serif HK", serif;
}

h1 {
  margin: 1rem auto;
  background: violet;
  display: inline-block;
  width: 300px;
  /* width: 370px; */
  padding: 1rem 0;
}

@media screen and (min-width: 768px) {
  h1 {
    width: 370px;
  }
}

h2 {
  padding: 1rem;
}

.form-container {
  margin: 1rem auto;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  background: violet;
  width: 300px;
  margin: auto;
  padding: 1.3rem 0;
  border-radius: 10px;
}

.form input {
  width: 250px;
  height: 30px;
  border: none;
  background-color: white;
  border-radius: 10px;
  font-family: inherit;
  outline: none;
}

.form button {
  width: 250px;
  height: 30px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  font-family: inherit;
}

.form button:hover {
  font-size: 15px;
}

.task-container {
  max-width: 370px;
  margin: 2rem auto;
  border-radius: 10px;
  color: rgb(59, 55, 55);
}

.task__card {
  background: white;
  border-radius: 10px;
  width: 300px;
  margin: auto;
}

li {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 1rem;
  width: 250px;
  margin: auto;
}
p {
  margin: 0;
}

.li-button {
  border: none;
  background: rgb(59, 55, 55);
  color: white;
  width: 1rem;
  height: 1rem;
  cursor: pointer;
}

.deleteAll {
  width: 250px;
  height: 30px;
  border-radius: 10px;
  border: 1px solid white;
  cursor: pointer;
  margin: 1rem auto;
  background-color: violet;
  color: rgb(59, 55, 55);
  font-family: inherit;
}

.paragraph {
  cursor: pointer;
}

.completed {
  text-decoration: line-through;
  color: lightgray;
}

@media screen and (min-width: 768px) {
  h1 {
    width: 370px;
  }

  .form {
    width: 370px;
  }
  .task__card {
    width: 370px;
  }
}

/* Navbar */
.navbar {
  background: violet;
  height: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.navbar ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.navbar ul li {
  justify-content: center;
}

.navbar ul li a {
  text-decoration: none;
}

.form__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  background: violet;
  width: 300px;
  margin: auto;
  padding: 1.3rem 0;
  border-radius: 10px;
}

.form__container input {
  width: 250px;
  height: 30px;
  border: none;
  background-color: white;
  border-radius: 10px;
  font-family: inherit;
  text-align: center;
  outline: none;
}

.form__container button {
  width: 250px;
  height: 30px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  font-family: inherit;
}

.form__container button:hover {
  font-size: 15px;
}

.card__container {
  width: 300px;
  height: 350px;
  margin: 1rem auto;
  background: violet;
  border-radius: 5px;
}
.card__container-name {
}

.card__container-img img {
  width: 300px;
  height: 270px;
}

@media screen and (min-width: 768px) {
  .form__container,
  .card__container {
    width: 370px;
  }
}

.active {
  color: white;
  border-bottom: 1x solid white;
}

.video__container {
  position: absolute;
  top: 80px;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
